<div class="nav-bar">
	<ul>
		{{#link-to 'challenge' tagName='li'}}
			{{link-to 'Challenges' 'challenge'}}
		{{/link-to}}
		{{#link-to 'scoreboard' tagName='li'}}
			{{link-to 'Scoreboard' 'scoreboard'}}
		{{/link-to}}
		{{#link-to 'admin' tagName='li'}}
			{{link-to 'Admin' 'admin'}}
		{{/link-to}}
		<li><a onClick={{action "logout"}}>Logout</a></li>
	</ul>
	<span class="welcome-text">Hello {{auth.user.username}}</span>
</div>